<div class="container">
    <div class="chart-info">
        <span>{{'critical temperature'|titlecase}}
        {{'critical temperature Reached,'|titlecase}}{{'@dummy yard'|uppercase}}</span>
        <button>Check</button>
    </div>
    <div class="chart-info">
      <span>  {{'critical temperature'|titlecase}}
        {{'critical temperature Reached,'|titlecase}}{{'@dummy yard'|uppercase}}</span>
        <button>Check</button>
    </div>
    <div class="chart-info">
        <span>{{'critical temperature'|titlecase}}
        {{'critical temperature Reached,'|titlecase}}{{'@dummy yard'|uppercase}}</span>
        <button>Check</button>
    </div>
</div>
