<div class="container">
    <div class="main-items dummy-yard-compuse">
         <app-dummy-yard></app-dummy-yard>
         <app-compuse></app-compuse> 
    </div>
    <div class="main-items expand-view-chart item1">
        <app-expand-viewchart [data]="{title:'temperature',icon:'thermostat',value:'48.34 C'}"></app-expand-viewchart>
</div>
        <div class="main-items expand-view-chart item2">
            <app-expand-viewchart [data]="{title:'humidity',icon:'water_drop',value:'72.8 %'}"></app-expand-viewchart>
        </div>
   
    <div class="main-items expand-view-chart item3">
        <app-expand-viewchart [data]="{title:'wind pressure',icon:'speed',value:'940 hPa'}"></app-expand-viewchart>
    </div>
    <div class="main-items expand-view-chart item4">
        <app-expand-viewchart [data]="{title:'wind speed',icon:'waves',value:'7.61 m/s'}"></app-expand-viewchart>
    </div>
    <div class="main-items map"></div>
</div>



